.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite linear;
  height: 20vmin;
}

.App-logo-2 {
  animation: App-logo-spin infinite 1s linear;
  height: 20vmin;
}

.tree-icon {
  height: 3vmin;
  white-space: nowrap;
}

.App-header {
  background-color: #383d41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  color: black;
}

.list-group {
  color: black;
}

.welcome {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.branch {
  text-align: left;
}

h1 {
  text-align: center;
}

.float-right { float:right }

.line {
  top: 0px;
  margin:0px;
  padding: 0px 2px 2px 3px;
  border-width: 2px;
  border-bottom: 2px white solid;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
